<div class="container">
  <div class="row">
    <div class="col-lg-4 col-lg-offset-4 centered">
      <form class="form-signin" name="loginForm" ng-submit="login(credentials)" novalidate>
        <h2 class="form-signin-heading">Ingrese sus credenciales</h2>
        <fieldset ng-disabled="{{connecting}}">
            
          <!-- signin general feedback panel -->
          <div class="form-group" data-feedback ng-hide="!loginError">
            <span class="size-h4 text-danger" data-i18n="{{loginError}}"></span>
          </div>
          <div class="form-group" >
            <label for="inputEmail" class="sr-only">Nickname</label>
            <input name="nickname"
              ng-model="credentials.username"
              ng-disabled="{{partialAuthenticated}}"
              type="text" 
              class="form-control" 
              placeholder="nickname" 
              ng-maxlength="20"
              ng-minlength="5"
              required 
              autofocus
            >
          <div class="form-group" >
          </div>
            <!-- nickname feedback panel -->
            <div class="text-center" 
              ng-show="invalidSubmit && loginForm.nickname.$invalid">
              <p ng-show="loginForm.nickname.$error.required">
                <span>Debe ingresar un usuario</span>
              </p>
              <p ng-show="loginForm.nickname.$error.minlength">
                <span>Ingrese al menos 5 caracteres</span>
              </p>
              <p ng-show="loginForm.nickname.$error.maxlength">
                <span>Ingrese menos de 20 caracteres</span>
              </p>
            </div>
          </div>
          <div class="form-group" >
            <label for="inputPassword" class="sr-only">Password</label>
            <input name="password"
              ng-model="credentials.password"
              ng-disabled="{{partialAuthenticated}}"
              type="password" 
              class="form-control" 
              placeholder="password" 
              ng-maxlength="20"
              ng-minlength="5"
              required
            >
          <div class="form-group" >
          </div>
            <!-- password feedback panel -->
            <div class="text-center" 
              ng-show="invalidSubmit && loginForm.password.$invalid">
              <p ng-show="loginForm.password.$error.required">
                <span>Debe ingresar una contraseña</span>
              </p>
              <p ng-show="loginForm.password.$error.password">
                <span>Ingrese al menos 5 caracteres</span>
              </p>
              <p ng-show="loginForm.password.$error.password">
                <span>Ingrese menos de 20 caracteres</span>
              </p>
            </div>
          </div>
          <button class="btn btn-lg btn-primary btn-block" type="submit">
            Iniciar sesión
          </button>
        </fieldset>
      </form>
    </div>
  </div>
</div>
